# <h2> Student Form <h2>
# <%= form_for students_path do |f| %>
#     First Name: <%= f.textfield :first_name%>
#     Last Name: <%= f.textfield :last_name%>
#     <%=f.submit%>
#     <%end%>


<h3>Student Form</h3>

<%= form_tag students_path do %>
  <label>First Name:</label><br>
  <%= text_field_tag :first_name %><br>

  <label>Last Name:</label><br>
  <%= text_field_tag :last_name %><br>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= submit_tag "Submit Student" %>
<% end %>